.main-nav{
    
    list-style: none;
    margin-top: 20px;
    margin-left: 0;

}

.main-nav li{
    display: inline-block;
    margin-top: 40px;
}

.main-nav li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    
}

.main-nav li.active a{
    border: 1px solid black;
}

.main nav li a:hover{
    border: 1px solid black;
}


.Mainlogo{
    width: 300px;
    height: 70px;
    float: left;
    margin-top: -20px;
}

.active{
    margin-top: 20px;
}

