html{
    background-color: #444;
    padding: 0 1em;

}

body{
    background-color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1em auto;
    max-width: 50em;
    height: 72.625em; 

}

#section-left{
    width: 35%;
    float: left;
    height: 100%;
    background-color: #fc7a70;
    color: #FFF;
    text-align: center;
}

#section-left .section{
    margin-top: 40%;
    padding: 1em;
} 

#section-left .section .logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background: url(profile.jpg);
}

.intro hr{
    width: 4em;
    display: block;
    height: 2px;
    border: 0px;
    border-top: 2px solid;
}

.dob{
    text-decoration: overline underline;
}

.intro .content{
    margin-bottom: 20px;

}

#contact{
    margin-top: 40px;

}


h1{
    text-transform: uppercase;
    
}

#section-right{
    width: 65%;
    float: right;
    
}

#section-right .section{
    margin: 0 0 30px 0;
}

.wrapper{
    padding: 2em;
}

.fa{
    margin-right: 15px;

}

.wrapper .title{
    color: #fc7a70;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-bottom: 2px solid #0f0b0b;
}

.wrapper .name{
    margin-top: 5%;
    text-align: center;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-bottom: 2px solid #0f0b0b;
}

.img{
    
    width: 150px;
    height: 150px;
    margin-left: 300px;
}

a :link{
    color: #FFF;
    text-decoration: none;
}

a :visited{
    color: #FFF;
    text-decoration: none;
}

a :hover{
    color: #FFF;
    text-decoration: none;
}

a :active{
    color: #FFF;
    text-decoration: none;
}


h2{
    text-transform: uppercase;
    font-size: 1em;
}

h3{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: normal;
}