body{
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat;
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 50%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-img{
    
    width: 250px;
    height: 350px;
    margin-bottom: -200px;
}

.box h1{
    font-size: 35px;
    initial-letter: 40px;
    font-weight: 100;
}

.box h3{
    font-size: 20px;
    initial-letter: 3px;
    font-weight: 100;    
}

.box p{
    text-align: center;

}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}

.row{
    max-width: 1200px;
    margin: auto;
}

