.welcome{
    position: absolute;
    width: 1200px;
    margin-left: 60px;
    margin-top: -40px;
    

}

h1{
    color: black;
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    margin-left: 0px;

}

h3{
    color: black;
    font-size: 35px;
    text-align: center;
    margin-top: -60px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3%;
}

h5{
    color: black;
    font-size: 20px;
    text-align: justify;
    margin-left: 42.5%;
}

.mainimg{
    border-radius: 100%;
    width: 400px;
    height: 400px;
    margin-top: 5%;
    margin-left: 130px;
}